altair==4.2.0
appnope==0.1.2
asttokens==2.0.5
attrs==22.1.0
backcall==0.2.0
blinker==1.5
cachetools==5.2.0
certifi==2022.6.15
charset-normalizer==2.1.1
click==8.0.4
commonmark==0.9.1
contourpy==1.0.6
corpus-toolkit==0.32
Counter==1.0.0
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.1
entrypoints==0.4
executing==0.8.3
filelock==3.8.0
fonttools==4.38.0
gitdb==4.0.9
GitPython==3.1.29
glob2==0.7
huggingface-hub==0.11.0
idna==3.4
importlib-metadata==5.0.0
ipykernel==6.17.1
ipython==8.6.0
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.1
jsonschema==4.17.0
jupyter-client==6.1.12
jupyter_core==4.11.2
kiwisolver==1.4.4
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
nest-asyncio==1.5.5
nltk==3.7
numpy==1.23.5
packaging==21.3
pandas==1.5.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
pip==22.2.2
prompt-toolkit==3.0.20
protobuf==3.20.3
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==10.0.0
pydeck==0.8.0
Pygments==2.11.2
Pympler==1.0.1
pyparsing==3.0.9
pyrsistent==0.19.2
python-dateutil==2.8.2
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
pyzmq==23.2.0
regex==2022.7.9
requests==2.28.1
rich==12.6.0
semver==2.13.0
setuptools==65.5.0
six==1.16.0
smmap==5.0.0
stack-data==0.2.0
stop-words==2018.7.23
stopwords==1.0.0
streamlit==1.15.0
tk==0.1.0
tokenizers==0.13.2
toml==0.10.2
toolz==0.12.0
tornado==6.2
tqdm==4.64.1
traitlets==5.1.1
transformers==4.24.0
typing_extensions==4.4.0
tzdata==2022.6
tzlocal==4.2
urllib3==1.26.12
validators==0.20.0
wcwidth==0.2.5
wheel==0.37.1
wordcloud==1.8.2.2
zipp==3.10.0
